
.slider-wrapper {
    width: 90%;
    margin: 100px auto;
    margin-top:20px;
    margin-bottom:35px;
    margin-left:0px;
  }
  
  .rc-slider-track {
    background-color: #8C6990; /* will override dynamically inline */
    border:solid;
  }
 
@media (min-width:1800px){
  .slider-wrapper{
    width:80%
  }
}